@import "tailwindcss";

@theme inline {
  --color-background: #231F20;
  --color-foreground: #FFFFFF;
  --color-lg-red: #A50034;
  --color-yonam-blue: #003B5D;
  --color-yonam-dark: #231F20;
  --color-yonam-light: #CBDED8;
  --color-yonam-medium: #AAC6CA;
  --color-success: #22C55E;
  --color-warning: #EAB308;
  --color-danger: #EF4444;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
